:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px 4px#252525;
    background-color: #4d4d4d;
    color: white;
    background-image: linear-gradient(to top, #1f1f1f, #3b3b3c, #595a5c, #787b7d, #989ea0);
}

h1, h2, div {
    text-align: center;
    font-size: 80px;
}

.ludosLogo {
    margin-bottom: -100px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #2D2928;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #141414;
    color: white;
    text-align: center;
    font-size: 25px;
}

.main {
    width: 90vw;
    height: 100px;
    max-width: 1200px;
    margin: 24px;
    border-style: solid;
    box-shadow: 6px 4px 4px 2px #941414;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 40px;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    margin-bottom: 100px;
    background-color: #e43a3a;
    border-color: #a71d1d;
}

.main:hover {
    background-color: #dbb718;
    box-shadow: 6px 4px 4px 2px #7c5706;
    border-color: #a78209;
    transform: scale(0.95);
}

.main:active {
    transform: scale(0.97);
}

.eaglercraft, .games {
    text-shadow: none;
}

.games {
    margin-bottom: 20px;
}

.eaglercraft {
    width: 25vw;
    min-width: 350px;
    max-width: 650px;
    display: inline-block;
    padding: 24px;
    white-space: none;
    background-color: #109cc7;
    border-style: solid;
    border-color: #067b8a;
    box-shadow: 6px 4px 4px 2px #06607c;
    color: #ffffff;
    cursor: pointer;
    font-size: 35px;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    margin-bottom: 20px;
}

.retro-bowl,
.n-gon,
.planet,
.cookie-clicker,
.baldis-basics,
.vlol,
.dance-fire-ice,
.ten-mins,
.number-game,
.number-game-multi,
.number-game-big,
.number-game-small,
.number-game-cupcake,
.sand-game,
.crossy-road,
.core-ball,
.mario-64,
.fnaw {
    width: 15vw;
    min-width: 300px;
    max-width: 600px;
    display: inline-block;
    padding: 16px;
    background-color: #10c729;
    border-style: solid;
    border-color: #068a27;
    border-radius: 25px;
    box-shadow: 6px 4px 4px 2px #067c0c;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    margin-bottom: 20px;
}

.eaglercraft:hover {
    background-color: #3c18db;
    box-shadow: 6px 4px 4px 2px #25067c;
    border-color: #2b09a7;
    transform: scale(0.95);
}

.retro-bowl:hover,
.n-gon:hover,
.planet:hover,
.cookie-clicker:hover,
.baldis-basics:hover,
.vlol:hover,
.dance-fire-ice:hover,
.ten-mins:hover,
.number-game:hover,
.number-game-multi:hover,
.number-game-big:hover, 
.number-game-small:hover,
.number-game-cupcake:hover,
.sand-game:hover,
.crossy-road:hover,
.core-ball:hover,
.mario-64:hover,
.fnaw:hover {
    background-color: #dbd818;
    box-shadow: 6px 4px 4px 2px #667c06;
    border-color: #97a709;
    transform: scale(0.95);
}