:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #afafaf;
    background: radial-gradient(#131313 0%, #000000 100%);
}

h1, h2, div {
    text-align: center;
    font-size: 80px;
}

.ludosLogo {
    margin-top: -50px;
    margin-bottom: -100px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 25px;
}

.main, .about {
    width: 1200px;
    padding: 24px;
    background-color: transparent;
    border-style: solid;
    border-color: #242424;
    border-width: 4px;
    border-radius: 10px;
    color: #afafaf;
    cursor: pointer;
    font-size: x-large;
    transition: background-color .25s, border-color .25s;
}

.about {
    font-size: 30px;
    color: #a75509;
}

.main {
    font-size: 30px;
    color: #a78209;
    margin-bottom: 100px;
}

.about:hover {
    border-color: #a75509;
}

.main:hover {
    border-color: #a78209;
}

.games {
    margin-bottom: 20px;
}


.eaglercraftx, .eaglercraft, .eaglercraftb {
    width: 400px;
    display: inline-block;
    padding: 16px;
    background-color: transparent;
    border-style: solid;
    border-color: #242424;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: x-large;
    transition: background-color .25s, border-color .25s;
    margin-bottom: 20px;
    font-size: 30px;
}

.retro-bowl, .n-gon, .planet, .cookie-clicker, .baldis-basics, .vlol, .dance-fire-ice, .ten-mins, .number-game, .number-game-multi, .number-game-big, .number-game-small, .number-game-cupcake, .sand-game, .crossy-road, .core-ball, .mario-64 {
    width: 300px;
    display: inline-block;
    padding: 16px;
    background-color: transparent;
    border-style: solid;
    border-color: #242424;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: x-large;
    transition: background-color .25s, border-color .25s;
    margin-bottom: 20px;
}

.eaglercraftx:hover, .eaglercraft:hover, .eaglercraftb:hover, .retro-bowl:hover, .n-gon:hover, .planet:hover, .cookie-clicker:hover:hover, .baldis-basics:hover, .vlol:hover, .dance-fire-ice:hover, .ten-mins:hover, .number-game:hover, .number-game-multi:hover, .number-game-big:hover, .number-game-small:hover, .number-game-cupcake:hover, .sand-game:hover, .crossy-road:hover, .core-ball:hover, .mario-64:hover {
    border-color: #ffffff;
}