:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #afafaf;
    background: radial-gradient(#131313 0%, #000000 100%);
}

h1, h2, div {
    text-align: center;
    font-size: 80px;
}

#embed {
    margin: auto;
    margin-bottom: 50px;
}

.ludosLogo {
    margin-bottom: -100px;
    height: auto;
    border-radius: 50%;
    transition: box-shadow 1s;
}

.ludosLogo:hover {
    box-shadow: 0 0 50px #a56a1d;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 25px;
}

.main {
    width: 32vw;
    height: auto;
    max-width: 800px;
    min-width: 300px;
    background-color: transparent;
    border-style: solid;
    border-color: #242424;
    border-width: 6px;
    border-radius: 15px;
    color: #318d34;
    font-size: 75px;
    padding: 30px 64px;
    cursor: pointer;
    transition: background-color .25s, transform 1s, border-color .25s;
}

.main:hover {
    border-color: #318d34;
}

.design {
    width: 25vw;
    height: auto;
    max-width: 700px;
    min-width: 250px;
    background-color: transparent;
    border-style: solid;
    border-color: #242424;
    border-width: 3px;
    border-radius: 15px;
    color: #6d6d6d;
    font-size: 50px;
    padding: 15px 32px;
    cursor: pointer;
    transition: background-color .25s, transform 1s, border-color .25s;
}

.design:hover {
    border-color: #6d6d6d;
}

.mirror,
.travesty,
.github,
.youtube,
.about
{
    width: 25vw;
    min-width: 250px;
    max-width: 700px;
    display: inline-block;
    padding: 16px;
    background-color: transparent;
    border-style: solid;
    border-radius: 8px;
    border-color: #242424;
    cursor: pointer;
    font-size: 25px;
    transition: background-color .25s, border-color .25s;
}

.mirror {
    color: #e4cd4f;
}

.travesty {
    color: #ffffff;
}

.github {
    color: #afafaf;
}

.youtube {
    color: #df0000;
}

.mirror:hover,
.travesty:hover,
.github:hover,
.youtube:hover,
.about:hover
{
    border-color: inherit;
}