:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px 4px#700c0c;
    background-color: #3b0000;
    color: #723434;
    background-image: linear-gradient(to top, #3b0000, #5c010f, #7f0516, #a40f1a, #c91c1c);
}

.ludosLogo {
    margin-top: -50px;
    margin-bottom: -100px;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #2b0000;
    color: white;
    text-align: center;
    font-size: 25px;
}

div {
    text-align: center;
}

h1 a {
    color: red;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    background-color: #af4c4c;
    border-style: solid;
    border-color: #551c1c;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    padding: 20px 64px;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    cursor: pointer;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    box-shadow: inset;
    box-shadow: 12px 8px 4px 4px #551c1c;
    padding: 50px;
    width: 500px
}

button[disabled] {
    background: grey;
    border-color: rgb(80, 80, 80);
    box-shadow: 12px 8px 4px 4px rgb(68, 68, 68);
    color: #3f3f3f;
    cursor: default;
}

button:hover[disabled] {
    background-color: grey;
}

button:active[disabled] {
    transform: scale(1.00);
}

button:active {
    transform: scale(0.95);
}

button:hover {
    background-color: #722828;
    transform: scale(0.95);
}

.revolt {
    width: 1000px;
    display: block;
    position: relative;
    top: -35px;
    margin-bottom: 35px;
    padding: 16px;
    background-color: #222324;
    border-style: solid;
    border-color: #0c0c0c;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #000000;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ff002b;
    text-decoration: none;
    font-size: x-large;
    border-radius: 15px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}

.github {
    width: 1000px;
    display: block;
    position: relative;
    top: -35px;
    margin-bottom: 35px;
    padding: 16px;
    background-color: #222324;
    border-style: solid;
    border-color: #0c0c0c;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #000000;
    cursor: pointer;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    padding: 15px 60px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    border-radius: 15px;
}

.youtube {
    width: 1000px;
    display: block;
    position: relative;
    top: -35px;
    margin-bottom: 35px;
    padding: 16px;
    background-color: #ff0000;
    border-style: solid;
    border-color: #940000;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #660101;
    cursor: pointer;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    padding: 15px 60px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    border-radius: 15px;
}

.about {
    width: 1000px;
    display: block;
    position: relative;
    top: -35px;
    margin-bottom: 35px;
    padding: 16px;
    background-color: #ff9900;
    border-style: solid;
    border-color: #944f00;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #662901;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    border-radius: 15px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}

.revolt:hover {
    background-color: #131313;
    transform: scale(0.95);
}

.github:hover {
    background-color: #131313;
    transform: scale(0.95);
}

.youtube:hover {
    background-color: #c00000;
    transform: scale(0.95);
}

.about:hover {
    background-color: #c07300;
    transform: scale(0.95);
}