:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #afafaf;
    background: radial-gradient(#131313 0%, #000000 100%);
}

h1, h2, h3, div, p, a, button, strong {
    text-align: center;
}

ul {
    text-align: left;
    display: inline-block;
}

.ludos {
    color: #E79215;
    background-color: transparent;
    text-decoration: none;
}

.ludos:hover {
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 25px;
}

.main {
    width: 32vw;
    height: auto;
    max-width: 800px;
    min-width: 300px;
    background-color: transparent;
    border-style: solid;
    border-color: #242424;
    border-width: 6px;
    border-radius: 15px;
    color: #e4cd4f;
    font-size: 75px;
    padding: 30px 64px;
    cursor: pointer;
    transition: background-color .25s, transform 1s, border-color .25s;
}

.main:hover {
    border-color: #e4cd4f;
}