:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #afafaf;
    background: radial-gradient(#131313 0%, #000000 100%);
}

div {
    text-align: center;
    font-size: 25px;
    margin-bottom: -20px;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.mythLogo {
    margin-top: -50px;
    margin-bottom: -100px;
    margin-left: -25;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 25px;
}

.main {
    background-color: transparent;
    border-style: solid;
    border-color: #242424;
    border-width: 6px;
    border-radius: 15px;
    color: #88653c;
    padding: 30px 64px;
    font-size: 75px;
    cursor: pointer;
    transition: background-color .25s, transform 1s, border-color .25s;
    margin-bottom: 100px;
}

.main:hover {
    border-color: #88653c;
}

.revolt, .github, .youtube {
    width: 500px;
    display: inline-block;
    padding: 16px;
    background-color: transparent;
    border-style: solid;
    border-radius: 8px;
    border-color: #242424;
    cursor: pointer;
    font-size: x-large;
    transition: background-color .25s, border-color .25s;
    margin-bottom: 150px;
}

.revolt {
    color: #ff002b;
}

.github {
    color: #afafaf;
}

.youtube {
    color: #df0000;
}

.revolt:hover {
    border-color: #ff002b;
}

.github:hover {
    border-color: #afafaf;
}

.youtube:hover {
    border-color: #df0000;
}