:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px 4px #522607;
    background-color: #572902;
    color: #612f17;
}

div {
    text-align: center;
}

h1 a {
    color: red;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: rgb(255, 255, 255);
}

h2 {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: -20px;
}

button {
    background-color: #80582a;
    border-style: solid;
    border-color: #5c3d1b;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    padding: 20px 64px;
    margin-top: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    box-shadow: inset;
    box-shadow: 12px 8px 4px 4px #553f1c;
    padding: 25px;
    width: 400px
}

button[disabled] {
    background: grey;
    border-color: rgb(80, 80, 80);
    box-shadow: 12px 8px 4px 4px #444444;
    color: #3f3f3f;
    cursor: default;
}

button:hover[disabled] {
    background-color: grey;
}

button:active[disabled] {
    transform: scale(1.00);
}

button:active {
    transform: scale(0.95);
}

button:hover {
    background-color: #63491f;
    transform: scale(0.95);
    box-shadow: 12px 8px 4px 4px #553f1c;
    border-color: #553a1c;
}


/* Navigation Bar */

ul {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 16px solid transparent;
}

.revolt {
    display: block;
    position: relative;
    top: -35px;
    padding: 16px;
    background-color: #222324;
    border-style: solid;
    border-color: #0c0c0c;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #000000;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: #ff002b;
    text-decoration: none;
    font-size: x-large;
    border-radius: 15px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
}

.github {
    display: block;
    position: relative;
    top: -35px;
    padding: 16px;
    background-color: #222324;
    border-style: solid;
    border-color: #0c0c0c;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #000000;
    cursor: pointer;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    padding: 15px 60px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    border-radius: 15px;
}

.youtube {
    display: block;
    position: relative;
    top: -35px;
    padding: 16px;
    background-color: #ff0000;
    border-style: solid;
    border-color: #940000;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #660101;
    cursor: pointer;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    padding: 15px 60px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    border-radius: 15px;
}

li:last-child {
    border-right: none;
}

li:active {
    transform: scale(0.95);
}

.revolt:hover {
    background-color: #131313;
    transform: scale(0.95);
}

.github:hover {
    background-color: #131313;
    transform: scale(0.95);
}

.youtube:hover {
    background-color: #c00000;
    transform: scale(0.95);
}


/* Copyright Footer */

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #4d2004;
    color: white;
    text-align: center;
    font-size: 25px;
}


/* Older Nav Link Code

li a {
    display: block;
    padding: 16px;
    background-color: #1a1a1a;
    border-style: solid;
    border-color: #0f0f0f;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #0c0c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
} 

li a {
    display: block;
    padding: 16px;
    background-color: #ff0000;
    border-style: solid;
    border-color: #920000;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #640c0c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: bold;
    font-size: x-large;
} 

li:last-child {
    border-right: none;
}

li:active {
    transform: scale(0.95);
}

li a:hover {
    background-color: #131313;
}

li a:hover {
    background-color: #b90000;
} 

*/