:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #4d4d4d;
    color: white;
    background-image: linear-gradient(to top, #1f1f1f, #3b3b3c, #595a5c, #787b7d, #989ea0);
}

h1, h2, div {
    text-align: center;
    font-size: 80px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background-color: #141414;
    color: white;
    text-align: center;
    font-size: 25px;
}

.main {
    width: 90vw;
    height: 100px;
    max-width: 1200px;
    margin: 24px;
    border-style: solid;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 40px;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    margin-bottom: 100px;
    background-color: #e43a3a;
    border-color: #a71d1d;
}

.main:hover {
    background-color: #dbb718;
    border-color: #a78209;
    transform: scale(0.95);
}

.main:active {
    transform: scale(0.97);
}

.eaglercraft, .games {
    text-shadow: none;
}

.games {
    margin-bottom: 20px;
}

.eaglercraft1_12_2, .eaglercraft1_12_2_wasm, .eaglercraftx, .eaglercraftx_wasm, .eaglercraftx_shadow, .eaglercraft1_6_4, .eaglercraft1_5_2, .eaglercraftb1_3, .eaglercraftb1_7_3, .eaglercrafta1_2_6 {
    width: 25vw;
    min-width: 350px;
    max-width: 650px;
    display: inline-block;
    padding: 24px;
    white-space: none;
    background-color: #109cc7;
    border-style: solid;
    border-color: #067b8a;
    color: #ffffff;
    cursor: pointer;
    font-size: 35px;
    border-radius: 25px;
    transition: width .25s, height .25s, background-color .25s, transform .25s;
    margin-bottom: 20px;
}

.eaglercraft1_12_2:hover, .eaglercraft1_12_2_wasm:hover, .eaglercraftx:hover, .eaglercraftx_wasm:hover, .eaglercraftx_shadow:hover, .eaglercraft1_6_4:hover, .eaglercraft1_5_2:hover, .eaglercraftb1_3:hover, .eaglercraftb1_7_3:hover, .eaglercrafta1_2_6:hover {
    background-color: #3c18db;
    border-color: #2b09a7;
    transform: scale(0.95);
}