:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px 4px#252525;
    background-color: #4d4d4d;
    color: white;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 80px;
}

/* Navigation Bar */

ul {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 16px solid transparent;
}

li a {
    display: block;
    padding: 16px;
    background-color: #1387e6;
    border-style: solid;
    border-color: #0960a7;
    box-shadow: inset;
    box-shadow: 6px 4px 4px 2px #06477c;
    cursor: pointer;
    transition: all;
    padding: 15px 60px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
}

li:last-child {
    border-right: none;
}

li:active {
    transform: scale(0.95);
}

li a:hover {
    background-color: #bd1515;
    box-shadow: 6px 4px 4px 2px #7c0606;
    border-color: #a70909;
} 